{% extends 'app/main.html' %}
{% load static %}

{% block title %}
    <title>Admin Page</title>
{% endblock %}
{% block content %}
    <header>
        <!-- <h3 style="font-family: 'Rubik', sans-serif;
        font-family: 'Space Grotesk', sans-serif; color: white; font-weight: bold;">HackSUS</h3> -->
        <h3 style="font-family: 'Rubik', sans-serif;
        font-family: 'Space Grotesk', sans-serif; color: white; font-weight: bold;">HackSUS</h3>
        <a href="{% url 'logoutUser' %}">Logout</a>
    </header>
    <h1 style="text-align: center;">Welcome {{user.username}}!</h1>
    <br>
    <a href="{% url 'exportData' %}" class="btn-submit">Export Judgements</a>
    <h2 style="display: block; text-align: left; 
    width: fit-content; margin-top: 30px;">Your Judgements</h2>
    
    <table>
        <thead>
            <th>Round</th>
            <th>Table Number</th>
            <th>Team Name</th>
            <th>Time Created</th>
        </thead>
        <tbody>
            {% for judgement in judgements %}
            <tr>
                <td>{{ judgement.round }}</td>
                <td>{{ judgement.tableNumber }}</td>
                <td>{{ judgement.teamName }}</td>
                <td>{{ judgement.timeCreated }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
    <h2 style="display: block; text-align: left; 
    width: fit-content; margin-top: 30px;">Accepted Tickets</h2>
    <div style="color: #0f0;" class="esum cardWrap">
    {% for  ticket in acceptedTickets %}
    <div style="color: #0f0;" class="esum cardWrap">
        <div class="card">
          <h1>{{ ticket.title }}</h1>
          <div class="title">
            <h2>{{ ticket.team.name }}</h2>
            <span>Team Name</span>
          </div>
          <div class="venue">
            <h2>{{ ticket.team.venue }}</h2>
            <span>Venue</span>
          </div>
          <div class="seat">
            <h2>{{ ticket.id }}</h2>
            <span>TNO</span>
          </div>
          <div class="time">
            <h2>{{ticket.timeCreated.time}}</h2>
            <span>time</span>
          </div>   
          <div class="number">
            <h3>{{ ticket.team.tableNumber}}</h3>
            <span>table</span>
          </div>
          <div class="view">
            <a href="{% url 'viewTicket' ticket.id %}">VIEW</a>
          </div>
        </div>
      </div>
        {% endfor %}
        </div>
    </div>
    <!-- <hr> -->
    <br>
    <div>
    <h2 style="display: block; text-align: left;
    width: fit-content; margin-top: 30px;">Open Tickets</h2>
    <div style="color: #0f0;" class="esum cardWrap">
    {% for  ticket in openTickets %}        
    <div style="color: #0f0;" class="esum cardWrap">
        <div class="card">
            <h1>{{ ticket.title }}</h1>
            <div class="title">
              <h2>{{ ticket.team.name }}</h2>
              <span>Team Name</span>
            </div>
            <div class="venue">
              <h2>{{ ticket.team.venue }}</h2>
              <span>Venue</span>
            </div>
            <div class="seat">
              <h2>{{ ticket.id }}</h2>
              <span>TNO</span>
            </div>
            <div class="time">
              <h2>{{ticket.timeCreated.time}}</h2>
              <span>time</span>
            </div>   
            <div class="number">
              <h3>{{ ticket.team.tableNumber}}</h3>
              <span>table</span>
            </div>
          <div class="view">
            <a href="{% url 'viewTicket' ticket.id %}">VIEW</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
</div>
    <!-- <hr style="display: block;"> -->
    <br>
    <h2 style="display: block; text-align: left; 
    width: fit-content; margin-top: 30px;">Closed Tickets</h2>
    <div style="color: #0f0;" class="esum cardWrap">
    {% for  ticket in closedTickets %}
    <div class="esum cardWrap">
        <div class="card">
            <h1>{{ ticket.title }}</h1>
          <div class="title">
            <h2>{{ ticket.team.name }}</h2>
            <span>Team Name</span>
          </div>
          <div class="venue">
            <h2>{{ ticket.team.venue }}</h2>
            <span>Venue</span>
          </div>
          <div class="seat">
            <h2>{{ ticket.id }}</h2>
            <span>TNO</span>
          </div>
          <div class="time">
            <h2>{{ticket.timeCreated.time}}</h2>
            <span>time</span>
          </div>   
          <div class="number">
            <h3>{{ ticket.team.tableNumber}}</h3>
            <span>table</span>
          </div>
            <div class="view">
              <a href="{% url 'viewTicket' ticket.id %}">VIEW</a>
            </div>
          </div>
        {% endfor %}
        </div>
</body>
{% endblock %}