{% extends 'app/main.html' %}
{% load static %}

{% block title %}
    <title>Register Page</title>
{% endblock %}
{% block content %}
    <header>
        <h3 style="font-family: 'Rubik', sans-serif;
        font-family: 'Space Grotesk', sans-serif; color: white; font-weight: bold;">HackSUS</h3>
    </header>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="team_name">Team Name:</label>
        {{form.name}}
        <br>
        <label for="table_number">Table Number:</label>
        {{form.tableNumber}}
        <br>
        <label for="venue">Venue:</label>
        {{form.venue}}
        <br>
        <input type="submit" value="Register">
    </form>
</body>
{% endblock %}