{% extends 'app/main.html' %}
{% load static %}

{% block title %}
    <title>Participant Page</title>
{% endblock %}
{% block content %}
    <header>
        <h3 style="font-family: 'Rubik', sans-serif;
        font-family: 'Space Grotesk', sans-serif; color: white; font-weight: bold;">HackSUS</h3>
        <a class="logout" href="{% url 'logoutUser' %}">Logout</a>
    </header>
    
    <h1 style="text-align: center;">Welcome Back {{team.name}}!</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="issue_title">Issue Title:</label>
        {{form.title}}
        <br>
        <label for="issue_description">Issue Description:</label>
        {{form.desc}}
        <br>
        <label for="platform">Platform:</label>
        {{form.platform}}
        <br>
        <input type="submit" value="Raise Ticket">
    </form>


    <div class="raised-tickets">
        <h2>List of Tickets Raised:</h2>
        <div style="color: #0f0;" class="esum cardWrap">
        {% for  ticket in tickets %}
        
        <div style="color: #0f0;" class="esum cardWrap">
          <div class="card">
            <h1>{{ ticket.title }}</h1>
            <div class="title">
              <h2>{{ ticket.team.name }}</h2>
              <span>Team Name</span>
            </div>
            <div class="venue">
              <h2>{{ ticket.team.venue }}</h2>
              <span>Venue</span>
            </div>
            <div class="seat">
              <h2>{{ ticket.id }}</h2>
              <span>TNO</span>
            </div>
            <div class="time">
              <h2>{{ticket.timeCreated.time}}</h2>
              <span>time</span>
            </div>   
            <div class="number">
              <h3>{{ ticket.team.tableNumber}}</h3>
              <span>table</span>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
        <!-- <table>
            <thead>
                <tr>
                    <th>Time of Creation</th>
                    <th>Issue Title</th>
                    <th>Issue Description</th>
                    <th>Platform</th>
                    <th>Mentor Assigned</th>
                    <th>Time of Closing</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                Iterate through the list of tickets and display each one -->
                <!-- {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.timeCreated }}</td>
                        <td>{{ ticket.title }}</td>
                        <td>{{ ticket.desc }}</td>
                        <td>{{ ticket.platform }}</td>
                        <td>{{ ticket.mentor.firstName }} {{ ticket.mentor.lastName }}</td>
                        <td>{{ ticket.timeClosed }}</td>
                        <td>{{ ticket.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table> -->
    </div>
</body>
{% endblock %}