{% extends 'app/main.html' %}
{% load static %}

{% block title %}
    <title>View Ticket</title>
{% endblock %}
{% block content %}
    <header>
        <h3 style="font-family: 'Rubik', sans-serif;
        font-family: 'Space Grotesk', sans-serif; color: white; font-weight: bold;">HackSUS</h3>
        <a class="logout" href="{% url 'logoutUser' %}">Logout</a>
    </header>
    <h2>Ticket Details:</h2>
    <p><strong>Time of Raising Issue:</strong> {{ ticket.timeCreated }}</p>
    <br>
    <p><strong>Issue Title:</strong> {{ ticket.title }}</p>
    <p><strong>Issue Description:</strong> {{ ticket.desc }}</p>
    <p><strong>Platform:</strong> {{ ticket.platform }}</p>
    <br>
    <p><strong>Team Name:</strong> {{ ticket.team.name }}</p>
    <p><strong>Table Number:</strong> {{ ticket.team.tableNumber }}</p>
    <p><strong>Venue:</strong> {{ ticket.team.venue }}</p>
    <br>
    <p><strong>Mentor Name:</strong>{{ ticket.mentor.firstName }} {{ ticket.mentor.lastName }}</p>
    <p><strong>Mentor Organisation:</strong> {{ ticket.organisation }}</p>
    <p><strong>Status:</strong> {{ ticket.status }}</p>

    {% if ticket.status == "Open" %}
    <a class="btn" href="{% url 'acceptTicket' ticket.id %}">Accept Ticket</a>
    {% elif ticket.status == "Accepted" %}
    <a class="btn" href="{% url 'reopenTicket' ticket.id %}">Reopen Ticket</a>
    <a class="btn" href="{% url 'closeTicket' ticket.id %}">Close Ticket</a>
    {% endif %}
</body>
{% endblock %}
